<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
<Product Name='__NAME__' Manufacturer='__COMPANY__'
    Id='__PRODUCT_GUID__'
    UpgradeCode='__UPGRADE_GUID__'
    Language='1033' Codepage='1252' Version='__VIPV__'>
  <Package Id='*' Keywords='Installer'
      Description="__NAME__ Installer, Created using conda constructor"
      Manufacturer='__COMPANY__' InstallerVersion='100' Languages='1033'
      Compressed='yes' SummaryCodepage='1252' />

  @PROPERTIES@

  <!-- No compression as pkgs are alread compressed -->
  <Media Id='1' Cabinet='$(var.Name)' EmbedCab='yes'
    CompressionLevel='mszip' />

  <!-- Begin file hierarchy -->
  <Directory Id='TARGETDIR' Name='SourceDir'>
    <Directory Id='ProgramFilesFolder' Name='System drive'>
      <Directory Id='INSTALLDIR' Name='$(var.Name)'>
        <Directory Id='Lib' Name='Lib'>
          <Component Id='HelperPy' Guid='*'>
            <File Id='HelperPyFILE' Name='_helper.py' Source='$(var.WixDir)\_helper.py' KeyPath='yes' />
          </Component>
          <Component Id='SystemPathPy' Guid='*'>
            <File Id='SystemPathPyFILE' Name='_system_path.py' Source='$(var.WixDir)\_system_path.py' KeyPath='yes' />
          </Component>
        </Directory>
        <Directory Id='pkgs' Name='pkgs'>
          <Component Id='InstallPy' Guid='*'>
            <File Id='InstallPyFILE' Name='$(var.InstallPy)' Source='$(var.ResourcePath)\$(var.InstallPy)' KeyPath='yes' />
          </Component>
          <Component Id='Urls' Guid='*'>
            <File Id='UrlsFILE' Name='$(var.UrlsFile)' Source='$(var.ResourcePath)\$(var.UrlsFile)' KeyPath='yes' />
          </Component>
          <Component Id='UrlsTxt' Guid='*'>
            <File Id='UrlsTxtFILE' Name='$(var.UrlsTxtFile)' Source='$(var.ResourcePath)\$(var.UrlsTxtFile)' KeyPath='yes' />
          </Component>
          <Component Id='PostInstall' Guid='*'>
            <File Id='PostInstallFILE' Name='$(var.PostInstall)' Source='$(var.ResourcePath)\$(var.PostInstall)' KeyPath='yes' Vital='no' />
          </Component>

          @PKG_COMPONENTS@

        </Directory>
      </Directory>
    </Directory>
  </Directory>
  <!-- End file hierarchy -->

  <!-- Begin environment variables -->
  <DirectoryRef Id='TARGETDIR'>
    <!--<Component Id='TemporaryPath' Guid='$(var.EnvGUID)'>
      <Environment Id='TemporaryPathEntries' Name='PATH' Action='set' 
          Permanent='yes' System='no' Part='first'
          Value='[INSTALLDIR]\Library\bin;[INSTALLDIR]\Scripts;[INSTALLDIR]' />
    </Component>
    
    <Component Id='SystemPath'>
      <Environment Id='SystemPathEntries' Name='PATH' Action='set' 
            Permanent='yes' System='yes' Part='last'
            Value='[INSTALLDIR];[INSTALLDIR]\Scripts' />
    </Component>-->
    <Component Id='TemporaryPath' Guid='$(var.EnvGUID)'>
      <Environment Id='SystemPathEntries' Name='TEST' Action='set' 
            Permanent='no' System='no' Part='last'
            Value='[INSTALLDIR];[INSTALLDIR]\Scripts' />
    </Component>
  </DirectoryRef>
  <!-- End environment variables -->

  <!-- Begin registry entries -->
  <DirectoryRef Id='TARGETDIR'>
    <Component Id="InstallDirRegEntries" Guid="*">
      <RegistryKey Root='HKMU' Key='Software\Python\[Manufacturer]\[ProductName]'>
        <RegistryValue Type='string' Name='InstallDir' Value='[INSTALLDIR]' KeyPath="yes" />
        <RegistryValue Type='integer' Name='Flag' Value='0'/>
      </RegistryKey>
    </Component>

    <Component Id="SysPythonRegistryEntries" Guid="*">
      <RegistryKey Root='HKLM' Key='Software\Python\PythonCore\$(var.PythonVersion)' >

        <RegistryKey Key='InstallPath'>
          <RegistryValue Type='string' Value='[INSTALLDIR]' KeyPath="yes" />
          <RegistryValue Type='string' Name='InstallGroup' Value='Python $(var.PythonVersion)' />
        </RegistryKey>
        <RegistryKey Key='Modules' />
        <RegistryKey Key='PythonPath'>
          <RegistryValue Type='string' Value='[INSTALLDIR]\Lib;$INSTDIR\DLLs' />
        </RegistryKey>
        <RegistryKey Key='Help\Main Python Documentation'>
          <RegistryValue Type='string' Name='Main Python Documentation'
              Value='[INSTALLDIR]\Doc\python$(var.PythonVersionJustDigits).chm' />
        </RegistryKey>
      </RegistryKey>
    </Component>
  </DirectoryRef>
  <!-- End registry entries -->

  <!-- Begin custom actions-->
  <CustomAction Id='LinkPython'
      Directory='INSTALLDIR'
      Execute='deferred' Return='check' Impersonate='yes'
      ExeCommand='"[INSTALLDIR]$(PythonFolder)/python.exe" -E -s "[#InstallPyFILE]" link $(var.Dists)'  />

  <CustomAction Id='LinkPackages'
      Directory='INSTALLDIR'
      Execute='deferred' Return='check' Impersonate='yes'
      ExeCommand='"[INSTALLDIR]python.exe" -E -s "[#InstallPyFILE]" link $(var.Dists)'  />
  <!--
  <SetProperty Id='LinkPackages' Before='LinkPackages'
      Sequence='execute'
      Value='"[INSTALLDIR]\python.exe" -E -s "[#InstallPyFILE]" link $(var.Dists)' />
  <CustomAction Id="LinkPackages" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="yes" />-->

  <SetProperty Id='CreateStartMenus' Before='CreateStartMenus'
      Sequence='execute'
      Value='"[INSTALLDIR]python.exe" -E -s "[INSTALLDIR]\Lib\_helper.py" mkmenus' />
  <CustomAction Id='CreateStartMenus' BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="yes" />
  
  <SetProperty Id='RunPostInstall' Before='RunPostInstall'
      Sequence='execute'
      Value='"[INSTALLDIR]\python.exe" -E -s "[INSTALLDIR]\Lib\_helper.py" post_install' />
  <CustomAction Id="RunPostInstall" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="yes" />
  <!-- End custom actions-->

  <!-- Begin execution of custom actions -->
  <InstallExecuteSequence>
    <Custom Action="LinkPackages" After="InstallFiles"></Custom>
    <Custom Action="CreateStartMenus" After="LinkPackages"></Custom>
    <Custom Action="RunPostInstall" After="CreateStartMenus"></Custom>
  </InstallExecuteSequence>
  <!-- End execution of custom actions -->


  <!-- Begin feature hierarchy -->
  <Feature Id='Complete' Title='$(var.Name)'
      AllowAdvertise='no'
      Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>

    <Feature Id='CondaPython' Title='Conda/Python'
        Description='Conda and Python base.' Display='expand' Level='1'
        AllowAdvertise='no' Absent='disallow'>
      <ComponentRef Id='HelperPy' />
      <ComponentRef Id='SystemPathPy' />
      <ComponentRef Id='InstallPy' />
      <ComponentRef Id='Urls' />
      <ComponentRef Id='UrlsTxt' />
      <ComponentGroupRef Id='MSVC' />
      <ComponentGroupRef Id='python' />
      <ComponentRef Id='InstallDirRegEntries' />
      <ComponentRef Id='TemporaryPath' />
      <ComponentRef Id='PostInstall' />
    </Feature>

    <Feature Id='Packages' Title='$(var.Name) Packages'
      AllowAdvertise='no' Level='1'
      Description='The packages that make up $(var.Name).'>
      @PKG_COMPONENTS_REFS@
    </Feature>

    <Feature Id='SystemPython' Title='Register as system python'
        AllowAdvertise='no' Level='10'>
      <ComponentRef Id="SysPythonRegistryEntries" />
    </Feature>
  </Feature>
  <!-- End feature hierarchy -->

  <!-- Begin upgrade handling -->
  <MajorUpgrade
    AllowDowngrades="no"
    DowngradeErrorMessage="A later version of [ProductName] is already installed."
    AllowSameVersionUpgrades="no"
  />
  <!-- End upgrade handling -->

  <!-- Begin UI library references -->
  <UIRef Id="WixUI_FeatureTree" />
  <!-- Use supplied icon for Add/Remove programs -->
  <UIRef Id="WixUI_ErrorProgressText" />
  <!-- End UI library references -->

  <Icon Id="icon.ico" SourceFile="$(var.IconFile)"/>
  <Property Id="ARPPRODUCTICON" Value="icon.ico" />
</Product>
</Wix>